1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [3]:
mixed_lists =['nayo', 1,2,3,1.4]
print(mixed_lists)

['nayo', 1, 2, 3, 1.4]

In [13]:
city= ['dhaka','rajshahi', 'naogaon', 'dhaka']
print(city[3])
print(city[-2])
print(city[2:3])
print(city[0:4:2])
print(city[2:])
print(city[:3])

dhaka
naogaon
['naogaon']
['dhaka', 'naogaon']
['naogaon', 'dhaka']
['dhaka', 'rajshahi', 'naogaon']

In [14]:
city[1]='barisal'
print(city)

['dhaka', 'barisal', 'naogaon', 'dhaka']

In [16]:
city[1:]='natore'
print(city)

['dhaka', 'n', 'a', 't', 'o', 'r', 'e']

In [17]:
city= ['dhaka','rajshahi', 'naogaon', 'dhaka']

In [19]:
city.append("rangpur")
print(city)

['dhaka', 'rajshahi', 'naogaon', 'dhaka', 'rangpur', 'rangpur']

In [20]:
city.pop()
print(city)

['dhaka', 'rajshahi', 'naogaon', 'dhaka', 'rangpur']

In [21]:
city.remove('dhaka')
print(city)

['rajshahi', 'naogaon', 'dhaka', 'rangpur']

In [22]:
city.insert(2,'mirzapur')
print(city)

['rajshahi', 'naogaon', 'mirzapur', 'dhaka', 'rangpur']

In [23]:
index = city.index('dhaka')
print(index)

3

In [25]:
city.sort()
print(city)

['dhaka', 'mirzapur', 'naogaon', 'rajshahi', 'rangpur']

In [26]:
city.reverse()
print(city)

['rangpur', 'rajshahi', 'naogaon', 'mirzapur', 'dhaka']

In [28]:
city.clear()
print (city)

[]

In [31]:
l= [2,3,4,5,6,7]
[i**2 for i in l]

[4, 9, 16, 25, 36, 49]

In [34]:
square = [i**3 for i in range(10)]
print(square)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [39]:
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [40]:
even_numbers= [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [41]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']
pair = [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [42]:
words = ["heo", "word", "list", "compare"]
lengths = [len(word) for word in words]
print(lengths)

[3, 4, 4, 7]